.ipynb_checkpoints/
venv
Data
Documentation
Dataset_ref
Dataset_grad
DB

models
confusion_matrices
Dataset.zip
confusion_matrix.png
ThesisExplained.mp4

__pycache__/
Daniel-files/
reunion-tesis-milton-1.m4a
output/26193.jpg
tesis_lib
output/dogs_cats_means.json
