.ipynb_checkpoints/
.idea/
Data
Documentation
Dataset_ref
Dataset_grad
DB

output/*
__pycache__/
models
confusion_matrices
Dataset.zip

Daniel-files/
ThesisExplained.mp4
reunion-tesis-milton-1.m4a
tesis_lib
